<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet Toby</h2>
                    <h3 class="section-subheading text-muted">STRENGTH SKILL STRETCH</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - 2018</h4>
                                    <h4 class="subheading">University of Bath</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While I was studying at university of Bath I started to take my training much more seriously and regularly helped out at the gym. I mostly focused on weights and learned the best ways to increase my strength and fitness.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018 - 2019</h4>
                                    <h4 class="subheading">Qualified Personal Trainer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After graduating, I qualified as a personal trainer full time and started working with clients in Shrewsbury and at local schools. I really enjoyed helping clients achieve their fitness goals. Personally, I made the switch to calisthenics (bodyweight movements) to further gain strength and control of my body. I then passed on my learnings to my clients to help them progress further.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019 - 2020</h4>
                                    <h4 class="subheading">Transition to Hybrid Training</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Later, I transitioned into a hybrid approach of weighted and bodyweight movements after discovering this had the best success with not only myself but also with my clients. Through these years, I expanded my learning about flexibility. I understood the importance of keeping mobile in order to maintaining fit and healthy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021 - Present</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After 7 plus years in the fitness industry, I have managed to expose myself to several different types of training. This allows me to adapt my approach to every new client I work with and tailor it to best suit their goals.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image">
                            <a href="https://api.whatsapp.com/send?phone=447850405377" class="whatsapp-link">
                              <h4>Start
                                  <br>Your Journey
                                  <br>Now</h4>
                            </a>
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <p class="text-muted">After 7 plus years in the fitness industry, I have managed to expose myself to several different types of training. This allows me to adapt my approach to every new client I work with and tailor it to best suit their goals.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
