<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">If the service you require is not listed, please contact me.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Private Lessons</h4>
                    <p class="text-muted">One-to-one gym sessions that help get the absolute most out of each workout.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Online Coaching</h4>
                    <p class="text-muted">Quality coaching tailored to your personal lifestyle and whatever equipment you have access to.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Remote Coaching</h4>
                    <p class="text-muted">Feedback focused coaching based on your training logs and video demonstrations.</p>
                </div>
            </div>
        </div>
    </section>
